@charset "utf-8";
/* 산리오 사이트 메인 페이지 미디어쿼리 - main_media.css */

/************ 미디어쿼리 ************/

/****** 1024px 이하 미디어쿼리 시작 ******/
@media screen and (max-width: 1024px) {
  /* 모바일 햄버거 버튼 보이게하기 */
  .gnb-mob {
    display: block;
  }

  /* GNB메뉴 변경하기 */
  .gnb {
    position: fixed;
    top: 80px;
    /* 오른쪽 바깥에 나가있음! */
    left: 100%;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: white;

    /* 트랜지션으로 애니메이션 설정
    transition: 속성 시간 이징 지연시간 */
    transition: left 0.6s ease-out;
  }
  /* .gnb에 클래스 on을 주면 left값 0
  메뉴가 오른쪽에서 왼쪽을 들어옴! */
  .gnb.on {
    left: 0;
  }
  /* GNB 플렉스 ul요소 변경 */
  .gnb > ul {
    flex-direction: column;
    gap: 3vh;
    font-size: 5vw;
  }

  /* 배너 DT용 트랜스폼으로 윗쪽이동하기 */
  .banner img:first-child {
    /* 트랜스폼 Y축위치이동 */
    translate: 0 -150%;
    /* 가로크기 사이즈 적응 */
    max-width: 100%;
    /* 세로크기는 자동으로 전환 */
    height: auto;
    /* 투명도 0 */
    opacity: 0;
  }
  /* 배너 모바일용 트랜스폼으로 아랫쪽이동하기 */
  .banner img:last-child {
    /* 트랜스폼 Y축위치이동 */
    translate: -50% -50%;
    /* 가로크기 사이즈 적응 */
    max-width: 80%;
    /* 세로크기는 자동으로 전환 */
    height: auto;
    /* 투명도 1 */
    opacity: 1;
  }

  /* 캐릭터 리스트 영문 타이틀 안보이게 하기 */
  .cat-list figcaption p {
    display: none;
  }
} /****** 1024px 이하 미디어쿼리 종료 ******/

/****** 800px 이하 미디어쿼리 시작 ******/
@media screen and (max-width: 800px) {
  /* 캐릭터 리스트 한줄에 2개씩 보이게하기 */
  .cat-list ul li {
    width: calc(50% - 2rem);
  }
  /* 컴퍼니 리스트 한줄에 1개씩 보이기 */
  .com-type-list {
    /* 플렉스박스 진행방향 변경 */
    flex-direction: column;
    /* 글자 중앙정렬 */
    text-align: center;
  }
  .com-type-list li {
    /* 하단 패딩 5rem */
    padding-bottom: 5rem;
  }
  /* 설명p요소 없애기 */
  .com-type-list p {
    display: none;
  }

  /* 3. 컨텍어스 영역 */
  /* 3-1.컨텍어스 내용박스 부모 */
  .map-info {
    /* 플렉스 박스 진행방향 변경 */
    flex-direction: column;
    /* 마진값 변경 */
    margin: 30px 40px 300px;
  }

  /* 3-2. 지도박스 */
  .map-box {
    /* 높이값 대신 비율로 박스 높이를 생성함 */
    aspect-ratio: 1.6;
  }
  .map-box iframe {
    /* 왼쪽위, 오른쪽위만 둥근모서리 4rem */
    border-radius: 4rem 4rem 0 0;
  }
  /* 3-3. 정보박스 */
  .info-box {
    /* 왼쪽아래, 오른쪽 아래만 둥근모서리 4rem */
    border-radius: 0 0 4rem 4rem;
  }
  
  /* 하단영역 세로방향 플렉스 정렬 */
  .bottom-area {
    flex-direction: column-reverse;
    gap: 2vh;
  }
}
/****** 800px 이하 미디어쿼리 종료 ******/
