@charset "utf-8";
/* @charset은 css문서의 문자형식을
지정하는 코드임. utf-8은 2바이트 문자를
모두 처리하는 방식임 */

/* Info PJ 공통 CSS - common.css */

/* 공통클래스 */
/* 1. 보더 디자인 클래스 */
.border-style1 {
  /* 보더(경계선) - border: 두께 종류 색상 */
  border: 5px dashed hotpink;
  /* 박스모서리 둥글게 */
  border-radius: 30px;
}
/* 2. 레이아웃 디자인 클래스 */
.layout-common{
/* 가로크기 */
  width: 1280px;
  /* 블록요소 마진으로 가로중앙설정 : 마영오!
  -> 양쪽 마진이 auto이면 중앙에 옴! */
  margin: 0 auto;
  /* 
    [마진 셋팅법]
    margin: 값; - 사방셋팅
    margin: 값 값; - 위아래 양쪽셋팅
    margin: 값 값 값; - 위 양쪽 아래셋팅
    margin: 값 값 값 값; - 각 방향별 셋팅
  */
  /* 패딩 */
  padding: 20px;
  /* 박스의 크기가 1280px인데 여기게 패딩을
    주면 패딩만큼 박스가 커진다. 따라서
    1280px에 맞추려면 패딩만큼 빼야한다.
    그런데 패딩을 안쪽으로 생기게하는 속성이 있는데
    바로 box-sizing속성이다! */
  box-sizing: border-box;

  /* 값으로 border-box라고 주면 패딩과 보더가
  모두 포함된 박스로 설정된다! */
}

/* 1. 상단영역 */
.header {
  /* 배경색 */
  background-color: #83f78d; 

  /* 하단마진 덮어쓰기 */
  margin-bottom: 20px;
}

/* 타이틀 */
#main-title {
  font-size: 50px;
  color: #4b61ec;
  margin: 0;
}

/* 메뉴박스 */
.header ul {
  /* 블릿없앰 lin */
  list-style: none;
  /* float:left를 사용했으므로
        자식요소 넘치는것 숨기기 사용! */
  overflow: hidden;
  /* 가로크기 */
  width: 470px;
  /* 마영오! */
  margin: 0 auto;
  /* 패딩 */
  padding: 0;
}
/* 메인로고 */
#main-logo {
  width: 45px;
}
/* 메뉴 리스트 */
.header ul li {
  /* 블록요소 옆으로 흐르기
        float은 흘러가게 설정하는 속성
        값으로 left는 나는 왼쪽에 너는 오른쪽으로 흘러가! */
  float: left;

  /* 글자크기 */
  font-size: 25px;
  /* 패딩: 위아래0 양쪽17px */
  padding: 0 17px;
}
/* 메뉴링크 */
.header ul li a {
  /* 글자색 */
  color: darkgreen;
  /* 글자밑줄없앰 */
  text-decoration: none;
  /* 글자두껍게 */
  font-weight: bold;
}
/* 링크 마우스 오버시
가상클래스 선택자:hover 사용함! */
.header ul li a:hover {
  /* 글자색 */
  color: hotpink;
  /* 글자밑줄 */
  text-decoration: underline;
  /* 라인삭제는 ctrl+shift K */
}

/* 2. 메인영역 */
/* .main {} */

/* 3.하단영역 */
.footer {
  background-color: #ccc;
  text-align: center;
  /* 상단마진 덮어쓰기 */
  margin-top: 20px;
}
/* 하단 주소박스 */
.footer address {
  /* 글자크기 - font-size(fz숫자) */
  font-size: 20px;
  /* 글자이텔릭 - font-style(fs)
        값: italic / normal */
  font-style: normal;
}
/* CEO이름 */
span.ceo-name {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: darkgreen;
}
/* 회사전화번호 */
span.tel-num {
    text-decoration: underline;
    text-decoration-style: wavy;
    color: hotpink;
}
