@charset "utf-8";
/* Info PJ 서브페이지용 CSS - sub.css */

/* 2-1. 서브타이틀 */
.sub-title{
    /* 글자설정 */
    font-family: "Jua", sans-serif;
    font-size: 30px;
    text-align: center;
    /* 배경설정
    -> 한번에 주는 방법:
    background: 색 이 반 고 위/크
    배경색 이미지 반복여부 고정 위치/크기 */
    background: url(../images/titbg4.jpg) no-repeat center/cover;
    /* 박스설정 */
    padding: 50px;
}
/* 2-2. 언론사로고 */
.press-logo img{
    height: 32px;
}
/* 2-3. 기사제목 */
.article-title{
    font-size: 33px;
}
/* 2-4. 기사사진 */
.article-picture{
    /* figure요소의 기본마진 없앰 */
    margin: 0;
    text-align: center;
    /* 하단마진 */
    margin-bottom: 50px;
}
.article-picture img{
    width: 100%;
}
/* 2-5. 기사내용 */
.article-content{
    font-size: 18px;
    /* 줄간격 - 단위없으면 배수임! */
    line-height: 1.7;
}
/* 2-6. 기자정보 */
.reporter-info{
    /* 글자설정 */
    font-size: 16px;
    color: #5b5b5b;
    text-decoration: underline;
    /* 밑줄에만 줄간격 옵션있음 */
    text-underline-offset: 5px;
    /* 박스설정 */
    margin-bottom: 20px;
}
/* 2-7. 기사원문 */
.article-original{
    text-align: right;
}
/* a요소에 원형디자인 적용 */
.article-original a{
    /* 디자인적용위해 inline-block
    -> 디자인은 block처럼, 정렬은 인라인처럼 적용되는 display!
    -> 인라인요소는 크기디자인적용안됨! */
    display: inline-block;
    /* 박스설정 */
    width: 120px;
    height: 120px;
    border: 1px solid #000;
    /* 둥근모서리 - 50%값은 원 */
    border-radius: 50%;
    /* 글자설정 */
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    /* 가로중앙 */
    text-align: center;
    /* 세로중앙은 줄간격을 높이값만큼 준다! */
    line-height: 120px;
    /* 배경색 */
    background-color: gray;
}