@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 외부 CSS합치기 */
@import url(./core.css);
@import url(./reset.css);

/* 전체 배경넣기 */
body{
    /* background: 색 이 반 고 윙/크 */
    background: url(../images/bg.jpg) no-repeat fixed center top/cover;
    /* 커서 이미지로 변경하기 */
    cursor: url(../images/favicon.png), auto;
    /* cursor: url(이미지경로), 대체모양설정 */
}

/* 로봇머리 */
.head{
    /* 부모자격필요! */
    position: relative;
    width: 250px;
    height: 250px;
    /* 가로중앙 - 마영오! */
    margin: 100px auto 50px;
}
/* 눈공통 */
.eye{
    /* 원형눈 */
    border-radius: 50%;
}
/* 왼눈 */
.eye1{
    position: absolute;
    /* 부모는? .head */
    top: 50px;
    left: 50px;

    width: 50px;
    height: 50px;
    background: url(../images/e1.jpg) no-repeat 0/100% 100%;
}
/* 오른눈 */
.eye2{
    position: absolute;
    /* 부모는? .head */
    top: 50px;
    right: 50px;
    
    width: 50px;
    height: 50px;
    background: url(../images/e2.jpg) no-repeat 0/100% 100%;
}

/* 코 */
.nose{
    position: absolute;
    top: 96px;
    left: 100px;

    width: 50px;
    height: 70px;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;

    /* 모서리 둥글게 */
    border-radius: 20px;
}

/* 입 */
.mouth{
    position: absolute;
    bottom: 25px;
    left: 80px;

    width: 90px;
    height: 40px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
}