@charset "utf-8";
/* 로봇 PJ 애니메이션 - 키프레임, 호출구현 : robot_ani.css */

/* 오른쪽팔에 적용하기 */
.arm2{
    /* 트랜스폼 축변경하기
    원래는 정중앙축이지만 변경가능함
    transform-origin:가로축 세로축 */
    transform-origin: top;

    /* 애니메이션 호출
    animation: 이시이지반방마 */
    animation: lift-up-ani .5s ease-in-out 2s forwards;
}

/* 팔올리기 키프레임 */
@keyframes lift-up-ani {
    /* 
    처음상태가 from과 같다면 생략가능!
    from{
        rotate: 0deg;
    } */
    to{
        rotate: -120deg;
    }
}

/* 아랫쪽팔 애니적용하기 */
.arm2 span{
    /* 축변경 */
    transform-origin: top;
    /* 애니메이션 호출 */
    animation: shake-arm-ani .4s ease 2.5s infinite alternate;
    /* 2.5초후 0.4초간 ease가속도로 
    영원히(infinite) 
    양방향애니(alternate) */
}

/* 팔 흔들기 키프레임 */
@keyframes shake-arm-ani {
    100%{
        rotate: -40deg;
    }
}